.google-image{
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.search-box{
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn {
    display: block;
    font-size: 12pt;
    background-color: #dde5ede0;
    width: 120pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid white;
    border-radius: 10px;

}